.risk_y.axis line, .risk_y.axis path {
	stroke: 		#444;
	fill: 			none;
}

.risk_y.axis text {
	fill: 			#444;
	text-shadow: 	none;
	font-size: 		12px;
}

.risk_x.axis line, .risk_x.axis path {
	stroke: 		#444;
	fill: 			none;
}

.risk_x.axis text {
	fill: 			#444;
	text-shadow: 	none;
	font-size:	 	12px;
}

.sbar_rect {
	stroke: 		#fff;
	stroke-width:	1px;
}

.sbar_legend {
	fill:			#444;
	text-shadow:	none;
	font-size:		12px;
	text-anchor:	start;
}

.risk_label_rect {
	opacity:		0;
}

.risk_back_button {
	font-size:		32px;
	cursor:			pointer;
	fill: 			#555;
	font-family:	arial,sans-serif;
}